<h1>Wittgenstein’s (Late) Writings</h1>
<p class="status">
  <a href="/about/">This website</a> presents a <em>fragment</em> of Wittgenstein’s
  <em>Nachlass</em> and prioritizes readability over a strict reproduction of
  the manuscript layout. It is <em>not a diplomatic edition</em>: Line breaks,
  underlining, and textual variants have been normalized. It is meant to
  complement the work of the
  <a href="https://wab.uib.no/">Wittgenstein Archives Bergen</a>, which maintain
  the authoritative edition of Wittgenstein’s entire <em>Nachlass</em>.
</p>
{{ partial "search.html" . }}
