<!DOCTYPE html>
<html lang="{{ if and .Params.doctype (ne .Params.layout "bilingual") }}de{{ else }}en{{ end }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ if not .IsHome }}{{ .Title }} – {{ end }}{{ .Site.Title }}</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" type="image/png" sizes="any" href="/favicon.png" media="(prefers-color-scheme: light)">
  <link rel="icon" type="image/png" sizes="any" href="/favicon-dark.png" media="(prefers-color-scheme: dark)">
  <script data-goatcounter="https://fredkettelhoit.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
</head>
<body{{ if eq .Params.layout "bilingual" }}{{ if findRE `\.webp\)` .RawContent }} class="bilingual"{{ else }} class="overview"{{ end }}{{ end }}>
  {{ block "main" . }}{{ end }}
</body>
</html>
